[Desktop Entry]
Version = 1.5
Type = Application
Name = josé
Comment = a freee Chess Database and analysis tool
Icon = /home/schaefer/src/jose/images/ico/jose.svg
Categories = Games
Terminal = false
Exec = /home/schaefer/src/jose/jose.sh %F
StartupNotify =	true