<!-- - - - - - - - - - -->
<!--  Menu Structure   -->
<!-- - - - - - - - - - -->
<menu-bar>
	<!-- - - - - - - - - - -->
	<!-- File Menu         -->
	<!-- - - - - - - - - - -->
	<menu id="menu.file">
		<item id="menu.file.new"			icon="\uf016:#ffffff:#000000:%80" 	key="control N"/>
		<item id="menu.file.new.from.here"	icon="\uf56d:#ffffff:#000000:%80" 	key="control shift N"/>
		<item id="menu.file.new.frc" key="control alt N"/>
		<item id="menu.file.new.shuffle"/>
		<separator/>
		<item id="menu.file.open"			icon="\uf07c:#cece63:#000000:%80"	key="control O"/>
		<item id="menu.file.open.url"/>
		<separator/>
		<item id="menu.file.close"									key="control W"/>
		<item id="menu.file.save"			icon="\uf0ba:#000080"	key="control S"/>
		<item id="menu.file.save.all"		icon="\uf0bb:#800080"	key="F2"/>
		<item id="menu.file.save.copy"		icon="\uf0bc:#800000"/>
		<item id="menu.file.save.as" 		icon="\uf0bd:#0000bb"	key="control shift S"/>
		<item id="menu.file.revert"/>
		<separator/>
		<item id="menu.file.print"			icon="\uf02f:#4040ff" key="control P"/>
		<item id="menu.file.print.setup" key="control shift P"/>
		<item id="menu.file.print.preview"/>
		<separator hide="mac"/>
		<item id="menu.file.quit"	key="control Q" hide="mac"/>
	</menu>
	<!-- - - - - - - - - - -->
	<!-- Edit Menu         -->
	<!-- - - - - - - - - - -->
	<menu id="menu.edit">
<!--		<item id="menu.edit.undo"			key="control Z"/>-->
<!--		<item id="menu.edit.redo"			key="control shift Z"/>-->
<!--		<separator/>-->
		<item id="menu.edit.select.all"		key="control A" modal="true"/>
		<item id="menu.edit.select.none"	key="control shift A" modal="true"/>
		<separator/>
		<item id="menu.edit.cut"	icon="\uf0c4"		key="control X" modal="true"/>
		<item id="menu.edit.copy"	icon="\uf0c5:#aeae5e"		key="control C" modal="true"/>
		<item id="menu.edit.paste"	icon="\uf0ea:#ae7e5e"		key="control V" modal="true"/>
		<item id="menu.edit.clear"  icon="\uf55a:#a00000"        modal="true"/>		<!--key="DELETE"-->

<!--		<menu id="menu.edit.games">-->
        <separator/>
        <item id="menu.edit.collection.new" icon="\uf65e:#cece63:#000000:%80"/>
        <item id="menu.edit.empty.trash"	icon="\uf1f8:#404040"/>
<!--			<item id="menu.edit.paste.copy"/>-->
<!--			<item id="menu.edit.paste.same"/>-->
        <item id="menu.edit.restore"/>
        <item id="menu.edit.ecofy"/>

		<separator hide="mac"/>
		<item id="menu.edit.option"			key="F9" hide="mac"/>
	</menu>
    <!-- - - - - - - - - - -->
    <!-- Format Menu       -->
    <!-- - - - - - - - - - -->
    <menu id="menu.edit.style">
        <item id="menu.edit.bold"  		icon="\uf032:bold:%80" key="control B"/>
        <item id="menu.edit.italic" 	icon="\uf033:%80"  key="control I"/>
        <item id="menu.edit.underline" 	icon="\uf0cd:%80" key="control U"/>
        <item id="menu.edit.plain" 		icon="\uf031:%80"/>
        <separator/>
        <item id="menu.edit.left"		icon="\uf036:%80"/>
        <item id="menu.edit.center"		icon="\uf037:%80"/>
        <item id="menu.edit.right"		icon="\uf038:%80"/>
        <separator/>
        <item id="menu.edit.larger" 	icon="\uf034" key="control PLUS"/>
        <item id="menu.edit.smaller" 	icon="\uf034:%70" key="control MINUS"/>
        <item id="menu.edit.color"		icon="\uf53f:#c0c040"/>
        <separator/>
        <menu id="move.format">
            <item id="move.format.short" check="false"/>
            <item id="move.format.long" check="false"/>
            <item id="move.format.algebraic" check="false"/>
            <item id="move.format.correspondence" check="false"/>
            <item id="move.format.english" check="false"/>
            <item id="move.format.telegraphic" check="false"/>
        </menu>
        <menu id="dialog.option.font.figurine">
            <item id="figurine.usefont.true" check="false"/>
            <separator/>
            <item id="figurine.usefont.false" check="false"/>
        </menu>
        <separator/>
        <item id="menu.edit.option" icon="\uf0ad:#808080" int="6"/>
    </menu>

	<!-- - - - - - - - - - -->
	<!-- Game Menu         -->
	<!-- - - - - - - - - - -->
	<menu id="menu.game">
		<item id="menu.game.details"	icon="\uf073:#ffffff:#000000:%90"		key="F4"/>

		<!-- #009900 = green -->
		<!-- #b30000 = red -->
		<menu id="menu.game.navigate">
			<item id="move.first" 		icon="\uf048:button:#009900"			key="ctrl BEGIN"/>
			<item id="move.backward" 	icon="\uf04f:button:#009900"			key="ctrl LEFT"/>
			<item id="move.delete" 		icon="\uf04f:button:#b30000"			key="ctrl BACKSPACE"/>
			<item id="engine.stop"		icon="\uf04c:button:#009900:#b30000"	key="PAUSE"/>
			<item id="move.forward" 	icon="\uf04b:button:#009900:#b30000"	key="ctrl RIGHT"/>
			<item id="move.start" 		icon="\uf04b:button:#b30000"			key="ctrl G"/>
			<item id="move.animate"		icon="\uf04e:button:#009900"/>
			<item id="move.last" 		icon="\uf051:button:#009900"			key="ctrl END"/>
		</menu>

		<menu id="menu.game.time.controls">
			<item id="menu.game.time.control"/>
			<!-- this entry will be replaced by actual time controls -->
			<separator/>
			<item id="menu.edit.option"	int="3"/>
		</menu>

		<separator/>
		<item id="menu.game.2d"		check="true"/>
		<item id="menu.game.3d"		check="false"/>
		<item id="menu.game.flip"	icon="\uf2f1:#808080" check="true"/>
		<item id="menu.game.coords"	check="true"/>
		<item id="menu.game.evalbar"	check="true"/>
		<item id="menu.game.suggestions"	check="true"/>
		<separator/>
		<item id="menu.game.analysis" icon="\uf013:#cccc00"/>
<!--		<item id="menu.game.hint"/> -->
		<item id="menu.game.draw" 	icon="\uf2b5:#ddcc00"/>
		<item id="menu.game.resign" icon="\uf165:#aa0000"/>
		<separator/>
<!--		<item id="menu.game.previous"/>
		<item id="menu.game.next"/>
		<separator/>
-->		<item id="menu.game.close" key="alt W"/>
		<item id="menu.game.close.all"/>
		<item id="menu.game.close.all.but"/>
		<separator/>
		<item id="menu.game.setup"	key="F11"/>
		<item id="menu.game.animate"/>
		<!--<item id="menu.game.nalimov.online"/>-->
		<separator/>
		<item id="menu.game.threat"/>
	</menu>
	<!-- - - - - - - - - - -->
	<!-- Window Menu       -->
	<!-- - - - - - - - - - -->
	<menu id="menu.window">
		<item id="window.board"				check="true"	key="control 1"/>
		<item id="window.clock"				check="true"	key="control 2"/>
		<item id="window.game"				check="true"	key="control 3"/>
		<item id="window.engine"			check="true"	key="control 4"/>
		<item id="window.eval"		    	check="false"/>
		<item id="window.console"			check="false"/>
		<separator/>
		<item id="window.collectionlist"	check="true"	key="control 5"/>
		<item id="window.query"				check="true"	key="control 6"/>
		<item id="window.gamelist"			check="true"	icon="\uf00b:#0000aa:%110" key="control 7"/>
		<!--item id="window.help"				check="false"/-->
		<!--item id="window.sqlquery"	check="true"/-->
		<!--item id="window.sqllist"	check="true"/-->
		<separator/>
		<item id="window.toolbar.symbols"	check="false"/>
		<item id="window.toolbar.1"			check="true"/>
		<item id="window.toolbar.2"			check="true"/>
		<!--item id="window.toolbar.3"		check="true"/-->
		<separator/>
		<item id="menu.window.reset"/>
		<!--separator/-->
		<!--item id="menu.window.fullscreen"	check="true"/-->
<!--		<item id="board.3d.screenshot"		key="PRINTSCREEN"/>-->
	</menu>
	<!-- - - - - - - - - - -->
	<!-- Help Menu         -->
	<!-- - - - - - - - - - -->
	<menu id="menu.help">
		<item id="menu.help.context"		key="F1"/>
		<item id="menu.help.manual"/>
		<separator/>
		<item id="menu.help.about"			key="control H" hide="mac"/>
		<item id="menu.help.license"/>
		<separator/>
		<item id="menu.help.repair"/>
		<separator/>
		<item id="menu.web.home" 		url="https://hrimfaxi.bitbucket.io/jose"/>
		<item id="menu.web.update"/>
		<!--item id="menu.web.report"		url="http://sourceforge.net/tracker/?func=browse&amp;group_id=60120&amp;atid=493133"/-->
		<item id="menu.web.report"		url="https://bitbucket.org/hrimfaxi/jose/jira?site=e7e0656f-4e79-4cad-9462-98eda6a5d83a&amp;statuses=new&amp;statuses=indeterminate&amp;sort=-updated&amp;page=1"/>
        <item id="menu.web.donate"      url="http://jose-chess.sourceforge.net/main.html#donate"/>
		<!--item id="menu.web.download"	url="http://jose-chess.sourceforge.net/download.html"/-->
		<separator/>
		<item id="menu.web.browser"/>

	</menu>

</menu-bar>