

<!--	remember:  the Java s stylesheet parser is a little bit stupid -->
<!--	1. all entries must be lowercase !!! 		-->
<!--	2. the very first entry is ignored	 !			-->
<!--    3. only one tag per entry !  -->
<!--	4. dont use pt or px in font sizes. they will displayed differently than in web browsers 
		13 = 8pt
		17 = 10pt
		20 = 12pt
-->

p {  }

a {
	text-decoration : none;
}

body {
	font-family : Geneva, Arial, Helvetica, sans-serif;
	font-size: 17;
}

p {
	margin-bottom : 0;
	padding-bottom: 0;
	margin-left : 24;
}

p.maintitle {
	text-align : center;
	font-size : 40;
	font-weight: bold;
	color: Blue
}

td.footer {
	font-size: 17;
}

td.header {
	font-size: 17;
	color: #006600
}

a.copyright {
	color: #006600
}

font.logo {
	font-family : "Palatino Linotype", "Palatino", serif;
	font-style : italic;
	font-size: 20;
	color : Green
}

font.mainlogo {
	font-family : "Palatino Linotype", "Palatino", serif;
	font-style : italic;
	font-size: 60;
	font-weight: normal;
	color: Blue
}

h1, h2, h3, h4 {
	margin-top: 60;
	background : #eeeeff;
}

h1 {
	font-size : 20;
	text-indent: 12;
}

h2 {
	font-size : 17;
	text-indent: 24;
}

h3 {
	font-size: 17;
	text-indent: 36;
}

h4 {
	font-size: 17;
	text-indent: 48;
}

h1.toc, h2.toc, h3.toc, h4.toc {
	margin-top: 0;		
	background: white;
}

h2.toc {
	text-indent : 24;	
}

h3.toc {
	text-indent: 48;
}

h4.toc {
	text-indent: 64;	
}

dt {
	margin-left : 32;
}
dd {
	margin-left: 64;
}
code {
	line-break : strict;
	white-space : pre;
}